/* General Styles */
.menu-container {
  position: absolute; /* Position it absolutely over the video */
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 2; /* Ensure the menu is above the video */
  padding-top: 1em; /* Space between the top and the menu */
}

.menu {
  display: flex;
  width: 28em;
  font-size: 1.2em;
  padding: 0 2em;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(29, 29, 39, 0.7); /* Semi-transparent background */
  border-radius: 10px;
  margin-top: 10px;
}

.menu__item {
  all: unset;
  flex-grow: 1;
  display: flex;
  cursor: pointer;
  position: relative;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
  transition: transform 0.5s ease;
  z-index: 10;
}

.icon {
  width: 40px;  /* Adjust the width */
  height: 40px; /* Adjust the height */
  fill: white;  /* Set the color */
  transition: transform 0.5s ease-in-out;  /* Smooth transition for transform */
}

/* Active Menu Item */
.menu__item.active {
  transform: scale(1.2);  /* Slightly scale the active icon */
}

/* Animation for icons on click */

/* Collections icon animation (originally for basketball) */
.icon-active-basketball {
  animation: icon-collections-animation 0.5s linear forwards;
}

@keyframes icon-collections-animation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

/* Basketball icon animation (originally for collections) */
.icon-active-collections {
  animation: icon-basketball-animation 0.5s ease-in-out forwards;
}

@keyframes icon-basketball-animation {
  0% {
      transform: rotate(0deg);
  }
  25% {
      transform: rotate(20deg);
  }
  50% {
      transform: rotate(-20deg);
  }
  100% {
      transform: rotate(0deg);
  }
}

/* Menu icon animation */
.icon-active-menu {
  animation: icon-menu-animation 0.5s ease-in-out forwards;
}

@keyframes icon-menu-animation {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.3);
  }
  100% {
      transform: scale(1);
  }
}

/* Cart icon animation */
.icon-active-cart {
  animation: icon-cart-animation 0.5s ease-in-out forwards;
}

@keyframes icon-cart-animation {
  0% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-10px);
  }
  100% {
      transform: translateY(0);
  }
}

/* Person icon animation */
.icon-active-person {
  animation: icon-person-animation 0.5s ease-in-out forwards;
}

@keyframes icon-person-animation {
  0% {
      transform: scale(1) translateY(0);
  }
  50% {
      transform: scale(1.2) translateY(-5px);
  }
  100% {
      transform: scale(1) translateY(0);
  }
}


